html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}
body {
  height: 100%;
  width: 100%;  
  background: url("./images/back2.jpg");
  background-size: cover;
  
  }
#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  margin-top: -2em;
  padding: 0 5%;
}
.crop {
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: inset(14% 1% 32% 2%);
  overflow:hidden;
}
instagram-media {
  object-fit:fill;
}
.startBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("./images/new.jpg");
  background-attachment: fixed;
  background-size: cover;
  --value: 0.4;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, var(--value)),
    rgba(0, 0, 0, 0.137) 20% 80%,
    rgba(0, 0, 0, var(--value))
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, var(--value)),
    rgba(0, 0, 0, 0.137) 20% 80%,
    rgba(0, 0, 0, var(--value))
  );
}
#start {
  height: 100vh;
  background-color: rgb(20, 25, 83);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

#photo {
  position: relative;
  margin: 2em 0;
  display: block;
  width: min(50vw, 50vh);
  height: auto;
  animation-name: appearFromBottom;
  animation-duration: 2s;
}
#name {
  font-size: 5rem;
  font-weight: 700;
  color: white;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem; 
  z-index: 3;
  text-align: center;
}
.intro.hello {
  font-size: 2rem;
  text-align: left;
}
.intro {
  color: white;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  animation-name: appearFromLeft;
  animation-duration: 2s;
  text-align: center;
}
@keyframes appearFromLeft {
  0% {
    opacity: 0%;
    left: 100px;
  }
  100% {
    opacity: 100%;
    left: 0px;
  }
}
@keyframes appearFromBottom {
  0% {
    opacity: 0%;
    top: 100px;
  }
  100% {
    opacity: 100%;
    top: 0px;
  }
}
@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes rotate {
}
.js-scroll {
  transition: opacity 1s;
  position: relative;
}
.invisible {
  opacity: 0;
}

.visible {
  animation-name: appear;
  animation-duration: 3s;
  opacity: 1;
}
@media screen and (max-width: 1000px) {
  #name {
    font-size: 4rem;
  }
  .intro.hello {
    font-size: 2rem;
  }
  .intro {
    font-size: 3rem;
  }
  #grid-container {
    grid-template-columns: 1fr 1fr;
  }
  #photo {
    width: min(60vw, 60vh);
  }
}
@media screen and (max-width: 700px) {
  #name {
    font-size: 3rem;
  }
  .intro.hello {
    font-size: 1.3rem;
  }
  .intro {
    font-size: 2rem;
  }
  #grid-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 400px) {
  #name {
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
  .intro.hello {
    font-size: 1.3rem;
  }
  .intro {
    font-size: 1.6rem;
  }
  #photo {
    width: min(70vw, 70vh);
  }
}
